doc/cards.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cockatrice_carddatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="set" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="longname"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cards">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="card" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="set" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="muId" use="optional"/>
                            <xs:attribute type="xs:anyURI" name="picUrl" use="optional"/>
                            <xs:attribute type="xs:string" name="num" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="color" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="xs:string" name="related" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="xs:string" name="reverse-related" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="xs:string" name="manacost"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="pt" minOccurs="0"/>
                    <xs:element type="xs:integer" name="tablerow"/>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element type="xs:boolean" name="cipt" minOccurs="0"/>
                    <xs:element type="xs:integer" name="loyalty" minOccurs="0"/>
                    <xs:element type="xs:boolean" name="token" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:integer" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>